.Sapphire {
    background-image: url(../images/sapphire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Diamond {
    background-image: url(../images/diamond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Ruby {
    background-image: url(../images/ruby2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Emerald {
    background-image: url(../images/emerald.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Opal {
    background-image: url(../images/opal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Amber {
    background-image: url(../images/amber.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Citrine {
    background-image: url(../images/citrine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Aquamarine {
    background-image: url(../images/aquamarine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Amethyst {
    background-image: url(../images/amethyst.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}